.item {
  background-color: rgb(23, 23, 177);
  color: rgb(255, 250, 250);
  height: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.col-span-2 {
  grid-column: span 2;
}
.col-span-3 {
  grid-column: span 3;
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

section {
  width: 500px;
  height: 500px;
  display: grid;
  gap: 20px;
}
