<section
  appDragDropContainer
  #dragDropContainer="dragDropContainer"
  [(items)]="items"
>
  <ng-container *ngIf="dragDropContainer.renderItems | async as renderItems">
    <div class="grid col-5">
      <div class="col-span-3 item" [appDragDropItem]="renderItems[0]">
        ITEM {{ renderItems[0] }}
      </div>
      <div class="col-span-2 item">drop</div>
    </div>
    <div class="grid col-3">
      <div
        class="item"
        *ngFor="
          let item of dragDropContainer.renderItems | async | slice: 1;
          let first = first
        "
        [appDragDropItem]="item"
      >
        ITEM {{ item }}
      </div>
    </div>
  </ng-container>
</section>
<pre>{{ items | json }}</pre>
